.container {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: rgb(247, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.innerBox {
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 8px 16px;
    padding: 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.heading{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 2rem;
    color: rgb(24, 119, 242);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 8px 16px;
    padding: 8px;
}
.InputFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .error {
    font-weight: bold;
    color: #ff3300;
    text-align: center;

}

.footer button {
    outline: none;
    background-color: rgb(24, 119, 242);
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
}

.footer button:hover {
    background-color: rgb(11, 100, 216);
    ;
}

.footer p {
    color: #1c1e21;
    font-family: 'Noto Sans', sans-serif;
}

.footer p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer button:disabled {
    background-color: gray;
}

.footer p {
    font-weight: 700;
    color: #000;
}

.footer span {


    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}